@font-face  {
    font-family: "metropolis-light";
    src: url("../fonts/metropolis/Metropolis-Light.otf");
}

@font-face {
    font-family: "avenir";
    src: url("../fonts/Avenir.ttc");
}

/********* GENERIC STYLES *********/


html, body  {
    margin: 0;
    padding: 0;
    font-family: avenir, sans-serif;
}

h1  {
    margin: 0;
    font-size: 4em;
    font-family: avenir-heavy, sans-serif;
}

p   {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 15px;
}

a {
  color: black;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 30px;
  width: 30px;   
}

/********* LANDING SCREEN *********/


#splash    {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
    padding-bottom: 0;
    height: calc(100vh - 50px);
    overflow: auto;
}

#header  {
    margin: 0;
    padding-bottom: 50px;
}

#header #card  {
    float: left;
    padding: 15px;
}

#header #card h3  {
    margin-bottom: 0;
}

#header #ex-links    {
    float: right;
    font-size: 2em;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#about #bio {
    display: flex;
    height: 300px;
    width: 35%;
    opacity: .75;
    margin-right: 10%;
    text-align: justify;
    font-size: 25px;
    padding-left: 15px;
}

#about #headshot {
    display: flex;
    overflow: hidden;
    
    position: relative;
    top: -300px;
    
    height: 40vw;
    max-height: 700px;
    max-width: 700px;
    width: 40vw;
}

#about #headshot img    {
    max-height: 100%;
}

.arrow  {
    text-align: center;
    width: 100%;
    height: 100px;
    animation: 10s bounce infinite;
    animation-delay: 5s;
}

.arrow p    {
    height: 1.15em;
    font-size: 1.15em;
}

.arrow a    {
    width: 100vw;
    font-size: 50px;
}

.fa-file-alt:hover  {
    color: burlywood;
}

.fa-paper-plane:hover  {
    color: limegreen;
}

.fa-linkedin-in:hover   {
    color: #0077B5;
}

.fa-github-alt:hover  {
    color: mediumpurple;
}

/********* EXPERIENCE & PROJECTS *********/

#resume {
    padding: 0 50px;
}

#resume p   {
    padding: 20px 0;
    text-align: justify;
    font-size: 1.25em;
}

#row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    width: inherit;
}

#row > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.025);
}

#row > div:hover    {
    animation: 0.5s mini-pulse;
    animation-fill-mode: forwards;
}

#row div > div  {
    display: inline-flex;
    text-align: center;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#row div > img    {
    width: 60%;
}

#row #wdw   {
    grid-row: 1/3;
    grid-column: 1/3;
}

#row #swamphacks    {
    grid-row: 4;
    grid-column: 1/3;
}

#row #codepath  {
    grid-row: 3/5;
    grid-column: 3/4;
}

#row h2 {
    margin: 15px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 400;
}

#row h3 {
    margin: 0;
    font-weight: normal;
}

#row p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    text-align: left;
    width: 100%;
}

#modal  {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

/********* MORE ABOUT ME *********/

#more  {
    margin: 20px 50px;
    padding-bottom: 20px;
}

#more h1  {
    margin-bottom: 20px;
}

.content    {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.content p    {
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: justify;
}

.container  {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    overflow: hidden;
}

#main   {
    grid-row: 1/3;
}

.container div   {
    height: 100%;
}

.container div img   {
    width: 100%;
    height: 100%;
}

/********* MEDIA QUERIES *********/

@media (max-width: 1410px)  {
    #more .content p {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    
    #header {
        padding-bottom: 1em;
    }
    
        
    #about #bio   {
        width: 42vw;
    }
    
    #about #headshot {
        top: 0;
        height: 40vw;
    }

    .content {
        grid-template-columns: 1fr;
    }
    
    #more .content p {
        font-size: 20px;
    }
}

@media (max-width: 720px)   {
    
    #splash {
        height: auto;
    }
    
    #header {
        padding-bottom: 0;
    }
    
    #about {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    
    #about #bio   {
        width: 100%;
        height: auto;
        text-align: justify;
        padding: 20px;
        margin: 0;
        box-sizing: border-box;
    }
    
    #about #bio p   {
        font-size: 1em;
    }
    
    #about #headshot   {
        justify-content: center;
        width: 100%;
        margin: 0;
        min-height: 200px;
    }
    
    #about #headshot img   {
        border-radius: 1%;
    }
    
    #row {
        grid-template-columns: 1fr 1fr;
    }
    
    #row div > div  {
        max-height: 400px;
    }
    
    #row #wdw   {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    #row #swamphacks    {
        grid-row: 4;
        grid-column: 1/3;
    }

    #row #codepath  {
        grid-row: auto;
        grid-column: auto;
    }
}

@media (max-width: 460px) {
    
    h1  {
        font-size: 2em;
    }
    
    #header {
        height: 162px;
        padding-bottom: 1em;
    }
    
    #header #card h3  {
        font-size: 0.75em;
    }
    
    #header #card p  {
        font-size: 0.75em;
    }
    
    #about  {
        margin: 0 0;
    }
    
    #about #bio p   {
        font-size: 0.75em;
    }
    
    #header #ex-links  {
        font-size: 1.5em;
    }
    
    #header #ex-links li  {
        font-size: 0.75em;
        margin: 2px;
    }
    
    .arrow  {
        margin-top: 20px;
    }
    
    #row {
        grid-template-columns: 1fr;
    }
    
    #row #wdw   {
        grid-row: 1;
        grid-column: 1;
    }

    #row #swamphacks    {
        grid-column: 1;
    }

    #row #codepath  {
        grid-row: 5;
        grid-column: 1;
    }
    
    #more .content p {
        font-size: 15px;
    }
}


/********* FOOTER STYLES *********/

#footer {
    border-top: 1px solid gray;
    font-size: 1em;
    text-align: center;
}

#footer p   {
    margin: 20px;
}

#footer .fa-heart   {
    font-size: 0.75em;
    color: red;
    animation: pulse 1.5s infinite;
}



/********* CUSTOM ANIMATIONS *********/

@keyframes bounce {
    0%, 10%, 20%, 30%, 40%, 50%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    5%, 15%, 25%, 35%, 45% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0%, 100%   {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

@keyframes mini-pulse   {
    0%  {
        transform: scale(1);
    }
    100%    {
        transform: scale(1.05);
    }
}
